#mobile-control {
  display: none;
  text-align: center;

  width: 100%;

  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;

  position: fixed;

  z-index: 5000;
}

#mobile-control .btn {
  background-color: white;
  opacity: 0.7;
  padding: 1rem;
  margin-bottom: 0.2rem;
  width: 80px;
  height: 80px;
  border: 2px solid #292929;
  font-size: 30px;
  font-weight: bold;
  color: #292929;
}
/* 
#mobile-control .btn:hover {
  color: #d0d0ee;
  background-color: #6f70a8;
} */
